*{
    padding: 0px;
    margin:0px;
}
.a0{
    background-image: url('./images/banner/banner1.png');
}
.a1{
    font-family:sans-serif;
    font-size: 65px;
    padding-left: 845px;
    padding-top: 216px;
    font-weight: 700;
   
}

.a2{
    
    color: #444343;
    padding-left: 850px;  
}


.btn{
    padding: 22px 17px;
    background-color: #F15B22;
    color:white;
    font-size: 20px;
    display: flex;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
.a3{
    padding-left: 970px;
    padding-bottom: 166px;
}
.a7{
    display: flex;
    align-items:center ;
    
}
.a5{
    
    border-radius:50%;
    background-image:url("./images/gradient2.png");
    background-repeat: no-repeat;
    
}
.a6{
   

    padding-left: 134px;
}
.a10{
    width: 416px;
    display: block;

}
.b1{
    display: flex;
    justify-content: space-around;
}
.b2{
    text-align: center;
}
.c1{
    margin: 230px;
    background-image: url("./images/watch.png");
    background-repeat: no-repeat;
 
  
}
.c2{
    padding: 64px;
    font-size: 40px;
    color: white;
}

.c5{
    padding: 20px 35px;
    color: #F15B22;
    font-weight: 600px;
}
.c4{
    padding-left: 64px;
    padding-bottom: 60px;
}
.z1{
    background-color: black;
    color: white;
}
.z4{
    width: 485px;
}
.z3{
    /* padding-left: 230px; */
}
.z2{
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
}
.z10{
    padding: 15px 30px;
    border-radius: 15px;
    color: #F15B22;
    
}
.logo{
justify-content: space-between;
}